.hero {
background-color:rgb(172, 255, 255);
padding-bottom: 10%;
padding-top: 10%;
}

.row1 {
   display: flex;
   flex-direction: row;
   background-color: cyan;
   
}

.row2 {
   display: flex;
   flex-direction: row;
   
   background-color:cornflowerblue;
}

.col {
   margin: 10%;

}

.rows {
width: 80%;
margin: 0px auto;
}

.top {


}