.hero {
background-color:rgb(172, 255, 255);
margin: 0px auto;
}

.row1 {
   display: flex;
   flex-direction: row;
   background-color: cyan;
   align-items: center;
   margin: 0px auto;
}

.row2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px auto;
   background-color:cornflowerblue;
}

.col {
   margin: 10%;

}

.rows {
width: 100%;
}

.top {
margin-left: 10% ;

}